<div ng-show="!item.deploying">
    <div class="alert alert-dismissable"
        ng-class="{'alert-success': item.deploysuccess, 'alert-danger': item.deployfailure}"
        ng-show="item.deploysuccess || item.deployfailure">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span>{{item.deploymessage}}</span>
    </div>
</div>
<h1>Almost there {{item.userName}}</h1>
<div class="repo-detail">
    <div class="media">
        <div class="media-body">
            <img class="pull-left avatar" ng-src="{{item.AvatarUrl}}" alt="Avatar" />
            <span class="pull-right when">{{item.UpdatedAt}}</span>
            <h4 class="media-heading">{{item.Name}}</h4>
            <p>{{item.Description}}</p>
        </div>
    </div>
    <br />

    <form role="form" name="myForm" ng-submit="saveDeployment()">
        <input type="hidden" value="{{item.CloneUrl}}" name="cloneurl" />
        <input type="hidden" value="{{Username}}" name="username" />

        <ul class="list-inline">
            <li>
                <div class="radio">
                    <label>
                        <input type="radio" name="deploymenttype" ng-model="item.deploymentType" value="git" checked="checked">
                        Git 
                    </label>
                </div>

            </li>
            <li>
                <div class="radio">
                    <label>
                        <input type="radio" name="deploymenttype" ng-model="item.deploymentType" value="ftp">
                        FTP
                    </label>
                </div>
            </li>
        </ul>

        <div id="git" class="form-group" ng-show="item.deploymentType=='git'" ng-class="{'has-error': myForm.azurerepo.$invalid}">
            <ul class="repo-list">
                <li>
                    <div class="media repo" ng-repeat="repo in items.Repos">
                        <a ng-click="saveDeployment(repo.CloneUrl)">
                            <div class="media-body">
                                <img class="pull-left avatar" ng-src="{{repo.AvatarUrl}}" alt="Avatar" />
                                <span class="pull-right when">{{repo.UpdatedAt}}</span>
                                <h4 class="media-heading">{{repo.Name}}</h4>
                                <p>{{repo.Description}}</p>
                            </div>
                        </a>
                    </div>

                </li>
            </ul>
        </div>

        <div id="ftp" ng-show="item.deploymentType=='ftp'">
            <div class="form-group" ng-class="{'has-error': myForm.ftpserver.$invalid}">
                <label for="ftpserver" class="control-label">FTP Server</label>
                <div>
                    <input type="text" class="form-control" name="ftpserver" ng-model="item.ftpserver" ng-required="item.deploymentType=='ftp'" ng-change="myForm.ftpserver.$setValidity('ftpserver',true);myForm.gitrepo.$setValidity('gitrepo',true);" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': myForm.ftppath.$invalid}">
                <label for="ftppath" class="control-label">FTP Path</label>
                <div>
                    <input type="text" class="form-control" name="ftppath" ng-model="item.ftppath" ng-required="item.deploymentType=='ftp'" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': myForm.ftpusername.$invalid}">
                <label for="ftpusername" class="control-label">FTP Username</label>
                <div>
                    <input type="text" class="form-control" name="ftpusername" ng-model="item.ftpusername" ng-required="item.deploymentType=='ftp'" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': myForm.ftppassword.$invalid}">
                <label for="ftppassword" class="control-label">FTP Password</label>
                <div>
                    <input type="password" class="form-control" name="ftppassword" ng-model="item.ftppassword" ng-required="item.deploymentType=='ftp'" />
                </div>
            </div>

        </div>

        <span ng-show="item.serversidevalid==false">Already registered!</span>

        <p class="text-right">
            <button type="submit" class="btn btn-default" ng-show="item.deploymentType=='ftp'" ng-disabled="myForm.$invalid || item.deploying">
                Deploy
            </button>
            <i class="icon-spinner icon-spin icon-large" ng-show="item.deploying"></i>
        </p>

    </form>
</div>
