{
  "posts": "_posts",
  "layouts": "_layouts",
  "output": "Website",
  "urlFormat": "{year}/{month}/{title}",
  "copyDirectories": [
    "images",
    "javascripts",
    "stylesheets"
  ],
  "processStaticFiles": [{
    "file": "category.sshtml",
    "mode": "Each",
    "property": "Categories"
  },{
    "file": "categories.sshtml",
    "mode": "Single",
    "property": "Categories"
  },{
    "file": "index.sshtml",
    "mode": "Each",
    "property": "PostsPaged"
  }]
}