*.[Cc]ache
*.csproj.user
*.[Rr]e[Ss]harper*
*.sln.cache
*.suo
*.user
*.orig
*.pidb
*.userprefs
.DS_Store
deploy/
build/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
_[Rr]e[Ss]harper.*/
*.docstates
*.tss
*.ncrunchproject
*.ncrunchsolution
*.dotCover
Thumbs.db
.idea
Website/
packages/
SnowSite/Snow/Images/original-images/
SnowSite/Snow/_ignore/