@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!doctype html>
<html lang="en" ng-app="barbato">
<head>
    <meta charset="utf-8">
    <link href="/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/normalize.css" />
    <link rel="stylesheet" href="/Content/main.css" />

    <title>Barbato</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
                <div ng-view>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="/Content/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>

    @RenderSection("DocumentReady", required: false)
</body>
</html>
