body {
    background:#333 url('bg.jpg') 0 0 repeat;
    color: #fff;
}



#main{ width: 800px; margin: 0 auto;}

#login{
   width: 512px; margin: 0 auto;
}

.repoform{ margin: 10px 0;}
.repoform h3{ padding: 0;margin: 0;}

.repoform:hover{ background: pink;cursor: pointer;}

.avatar{ width: 80px;float: left;position: relative;display: block;}

.repo{ width: 720px;float: left;position: relative;display: block;}

.clear{ clear: both;}