html, body {
    background: #333 url('bg.jpg') 0 0 repeat;
    color: #333;
}

h1 {
    color: #f2f2f2;
}

#login {
    width: 512px;
    margin: 0 auto;
}

.alert {
    border-radius: 0 0 0 4px;
    position: fixed;
    top: 0;
    right: 0;
}

    .alert.inverted {
        background: #333;
        border: none;
        color: #f2f2f2;
    }

.repo-detail {
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 5px;
}

.repo-list {
    margin: 0;
    padding: 0 0 20px;
}

.avatar {
    padding-right: 10px;
}

.repo {
    background-color: #e5e5e5;
    padding: 5px 10px;
    margin: 1px 0;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

    .repo:first-child {
        border-radius: 5px 5px 0 0;
    }

    .repo:last-child {
        border-radius: 0 0 5px 5px;
    }

    .repo a {
        color: #333;
    }

        .repo a:hover {
            color: #888;
            text-decoration: none;
        }

.when {
    font-size: 0.75em;
    font-style: italic;
}
