@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Content/normalize.css"/>
    <link rel="stylesheet" href="../Content/main.css"/>
    
    <title>Sandra.Snow.Barbato</title>
</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
    <script src="../Content/Scripts/jquery-2.0.0.min.js"></script>
    @RenderSection("DocumentReady", required:false)
</body>
</html>
