@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sandra.Snow.Barbato</title>
</head>
    <body>
        @RenderBody()
    </body>
</html>
