@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sandra.Snow.Barbato</title>
</head>
<body>
	<a href="/authentication/redirect/github">Login with Github</a>
</body>
</html>
