@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
}
<div id="login">
    <a href="/authentication/redirect/github">
        <img src="/Content/github-logo.png" />
    </a>
</div>