{
  "blogTitle" : "Philip Haydon Blog",
  "siteUrl": "http://www.philliphaydon.com",
  "posts": "_posts",
  "layouts": "_layouts",
  "output": "../Website",
  "urlFormat": "yyyy/MM/slug",
  "copyDirectories": [
    "images",
    "javascripts",
    "stylesheets"
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml"
  },{
    "file": "archive.cshtml"
  },{
    "file": "about.cshtml"
  },{
    "file": "drafts.cshtml",
    "loop": "Drafts"
  },{
    "file": "feed.xml",
    "loop": "RSS"
  }]
}