{
  "siteUrl": "http://www.philliphaydon.com",
  "posts": "_posts",
  "layouts": "_layouts",
  "output": "Website",
  "urlFormat": "yyyy/MM/dd/slug",
  "copyDirectories": [
    "images",
    "javascripts",
    "stylesheets"
  ],
  "processStaticFiles": [{
    "file": "index.cshtml",
    "iterateModel": "true",
    "processorName": "Posts"
  },{
    "file": "category.cshtml",
    "iterateModel": true,
    "processorName": "Categories"
  },{
    "file": "categories.cshtml",
    "iterateModel": false,
    "processorName": "Categories"
  },{
    "file": "archive.cshtml",
    "iterateModel": false
  },{
    "file": "about.cshtml",
    "iterateModel": false
  }]
}