{
  "posts": "_posts",
  "layouts": "_layouts",
  "output": "Website",
  "urlFormat": "{year}/{month}/{title}",
  "copyDirectories": [
    "images",
    "javascripts",
    "stylesheets"
  ],
  "processStaticFiles": [{
    "file": "archive.cshtml",
    "iterateModel": "false"
  },{
    "file": "category.cshtml",
    "iterateModel": "true",
    "property": "Categories"
  },{
    "file": "categories.cshtml",
    "iterateModel": "false",
    "property": "Categories"
  },{
    "file": "index.cshtml",
    "iterateModel": "true",
    "property": "PostsPaged"
  },{
    "file": "about.cshtml",
    "iterateModel": "false"
  }]
}